.ControlBox {
    position: fixed;
    display: inline-block;
    top: 10px;
    height: 80px;
    text-align: left;
    background-color: #00000088;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
}

.InputLabel {
    margin-left: 12px;
    font-size: 1rem;
    font-family: Roboto;
}

.LockButton {
  margin-left: 12px;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.LockButton:hover {
    background-color: #3385ff; /* Green */
    color: white;
}

.LockSequenceText {
    font-size: 1rem;
    color: aquamarine;
    margin-left: 12px;
    margin-top: 8px;
}

.LockedFactorItem, .NotLockedFactorItem {
    border-radius: 8px;
    padding: 0 10px ;
    display: inline-block;
}

.LockedFactors {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 8px;
    max-height: 120px;
    width: 95%;
    overflow-y: scroll;
    border-color: #3385ff;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 8px;
}

.LockedFactorItem {
    color: #9ad7fc;
    background-color: #3385ff;
}

.NotLockedFactorItem {
    color: #ff789a;
    background-color: #a83250;
}
